*{
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 500;
    color: rgb(99, 92, 92);   
}
html,body
{
     margin: 0mm;
    padding: 0px; 
    scroll-behavior: smooth;
}
 #smaag  {
      max-height: 4em;
      padding: 1em 0 0 5em;
    float: left;
  }
  .logo-container img
  {
    margin: 0;
    padding: 0;
  }
#list
{
list-style-type: none;
text-align: right;
}
.nav_1 li
{
    display: inline;
}
 #list a, .list-elem
{
    font-size: large;
    display: inline-block;
    margin: 0.7em 1.5em 0.7em 1.5em;
    text-decoration: none;
}
.list-elem {
  --s: 1.5px;   
  --c: #ff0000;
  color: #0000;
  padding-bottom: var(--s);
  background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(#000 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.3s;
}
#list a:hover {--_p: 100%}
#scam
{
    color: rgb(255, 0, 0);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.9);
}
  .main_nav
 {
  position: relative;
    text-align: justify;
    text-align:center;
    font-size: medium;
    font-weight: lighter;
}
#head-1
{
  width: 100%;
  position:fixed;
} 
/* Start of Footer */
.footer-nav li{
    padding: 0.5em;
    display: inline;
}
.social-media
{
font-size: 2rem;
}
.social-media i
{
color: rgb(255, 255, 255);
}
.bg-dark {
    background-color:  rgba(39, 46, 38, 0.9) !important;
  }
  .p-5 {
    padding: 0.5rem 2rem 0rem 2rem !important;
  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .d-flex {
    display: flex !important;
  }
  .flex-column {
    flex-direction: column !important;
    display: inline-flex;
  }
  .justify-content-start {
    justify-content: flex-start !important;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
.text-white {
    color: #fff !important;
   margin-bottom: 0.2rem;
}
#bot_logo
{
margin: 1rem 1rem 0 2rem;
color: #fff;
font-family: "Lucida Console", "Courier New", monospace;
}
 .footer{
 position: absolute;
 max-height: fit-content; 
 width: 100%;
 }
 .remove-u
 {
  padding: 0.5rem 0% 0.5rem 0%;
  color: aliceblue;
 }
 .text-color
 {
  color:rgb(223, 44, 44);
 }
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
i{
  color: rgb(231, 223, 223);
}
.footer__credits
{
  color: rgb(255, 255, 255);
  margin: 0.5em;
  font-size: small;
  text-align: center;
}
